<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <div >
    <p class="form-group">
      <%= form.label :commenter%><br>
      <%= form.text_field :commenter, class:"form-control"%>
    </p>
    <p class="form-group">
      <%= form.label :body %><br>
      <%= form.text_area :body , class:"form-control"%>
    </p>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>